.no-select {
  user-select: none;
}

form,
input,
textarea,
select {
  user-select: text;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes scrollIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-in {
  animation: scrollIn 0.5s ease-in-out;
}


/* Side Bar Animation */
.sidebar {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.sidebar.open {
  transform: translateX(0);
  opacity: 1;
}

.sidebar.closed {
  transform: translateX(-100%);
  opacity: 0;
}


/* Custom Scroll bar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #f8f8f8;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #dfdfdf;
  margin-top: 20px;
  border-radius: 8px;
}


/* Tagify */
.tagify__tag--custom {
  background-color: #e0f7fa;
  border-radius: 12px;
  padding: 2px 8px;
  margin: 2px;
  display: inline-flex;
  align-items: center;
  font-size: 0.875rem;
  color: #00796b;
  max-width: 100%;
  white-space: nowrap;
}

.tagify__tag--custom .tagify__tag__removeBtn {
  margin-left: 4px;
  cursor: pointer;
  color: #00796b;
}

.tagify__tag--custom .tagify__tag__content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto !important;
  max-width: auto !important;
}

/* Plot E-Chart */
.cb-echart-barplot {
  width: 960px; 
  height: 540px;
}

/* Plot E-Chart */
.cb-echart-pieplot {
  width: 960px; 
  height: 540px;
}

