.no-select {
    user-select: none;
}

form, input, textarea, select {
    user-select: text;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-in {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes scrollIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.scroll-in {
    animation: scrollIn 0.5s ease-in-out;
}